* {
	box-sizing: border-box;
}

:root {
	--default: #333330;
	--light-grey: #F4F4F4;
	font-family: Rubik, sans-serif;
	font-weight: 300;
}


/* G É N É R A L */

body {
	margin: 0 auto;
	color: var(--default);
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-size: 1em;
	font-weight: 500;
}

img {
	width: 100%;
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--default);
}

.highlight {
	background: linear-gradient(to right, rgba(255,255,255,0) 50%, #E5F0FF 50%);
	background-position: -0% 0;
	background-size: 200% auto;
	transition: background-position 0.5s ease-out;
}

.welcome:hover .highlight {
	 background-position: -99.99% 0;
}

.about-text:hover .highlight {
  	background-position: -99.99% 0;
}

.project-text:hover .highlight {
	 background-position: -99.99% 0;

}

.about-text:hover .delay-one {
	transition-delay: 0.4s;
}

.about-text:hover .delay-two {
	transition-delay: 0.8s;	
}

.project-text .highlight {
	transition: background-position 0.8s ease-out;
}

.bold {
	display: inline-block;
	font-weight: 500;
}

.more {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	border: 2px solid var(--default);
	box-shadow: 6px 6px 0px var(--default);
	background: white;
	transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.more + .more {
	margin-left: 0px;
	margin-top: 20px;
}

.more:hover {
	transform: translate(0px, -10px);
}

.home-btn {
	position: fixed;
	margin: 10px 0;
	left: 20px;
	z-index: 2;
	width: 80px;
}



/* N A V I G A T I O N */

.nav {
	width: 100%;
	height: 50px;
	background-color: white;
	z-index: 1;
	position: fixed;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
	top: 0;
}

nav {
	position: fixed;
	right: 40px;
	z-index: 2;
}

nav ul {
	display: inline-flex;
	align-content: flex-end;
}

nav ul li a {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	border-bottom: 0px solid var(--default);
}

nav ul li a::after {
	content: '';
	display: block;
	height: 3px;
	background: var(--default);
	width: 0%;
	transition: all 400ms;
}

nav ul li a:hover::after {
	width: 100%;
}

nav ul li + li {
	margin-left: 30px; 
}



/* H O M E */

.home {
	height: 100vh;
	position: relative;
}

.welcome {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.project {
	padding: 100px 10%;
	position: relative;
	font-weight: 300;
	font-size: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll, local;
}

.project:nth-child(1) {
	background-image: url("images/metrotrame.png"), linear-gradient(to bottom, rgba(249, 247, 247, 1), rgba(249, 247, 247, 0));
}

.project:nth-child(2) {
	background-image: url("images/cannesmotif.png"), linear-gradient(to bottom, rgba(249, 247, 247, 1), rgba(249, 247, 247, 0));
}

.project:nth-child(3) {
	background-image: url("images/fondcarte.png"), linear-gradient(to bottom, rgba(249, 247, 247, 1), rgba(249, 247, 247, 0));
}

.project h2 {
	font-size: 1.2em;
	font-weight: 500;
	display: inline;
	position: relative;
}

.project h2::before, .project h2::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: var(--default);
    transition: width 600ms ease-in-out;
}

.project h2::after {
	right: 0;
}

.project h2:hover::before, .project h2:hover::after {
	width: 0;
}


.project .project-content {
	max-width: 600px;
	padding: 30px;
	background: white;
	border: 2px solid var(--default);
}

.project p + p {
	margin-bottom: 50px;
}

.project .more {
	top: -20px;
	left: 20px;
}

.project-info {
	margin-top: 20px;
	font-weight: 500;
	color: grey;
}





/* A B O U T */

.about { 
	padding: 100px 0;
	margin: 0 15%;
}

.about-text {
	line-height: 1.5em;
}

.about-text a {
	position: relative;
}

.about-text a::before, .about-text a::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: var(--default);
    transition: width 400ms ease-in-out;
}

.about-text a::after {
	right: 0;
}

.about-text a:hover::before, .about-text a:hover::after {
    width: 0;
}

.about .hello {
	width: 200px;
	margin-bottom: 20px;
}

.about .bold {
	margin-top: 50px;
}

.about ul li a {
	font-weight: 500;
	line-height: 25px;
	display: inline-block;
	transition: transform 400ms, color 400ms;
}

.about ul li a:hover {
	transform: translate(20px, 0);
}


/* P R O J E C T */

.project-focus {
	width: 60%;
	margin: 0 auto;
	padding-top: 100px;
}

.project-focus h2 {
	font-size: 2em;
}

.project-focus .web {
	display: none;
}

.project-focus .mobile {
	display: block;
	border-style: solid;
	border-color: #F4F4F4;
	border-width: 10px 4px;
	border-radius: 10px;
	height: 500px;
	overflow: scroll;
	font-size: 0;
	position: relative;
	margin: 60px 0;
}

.project-focus .more {
	top: 10px;
}

.project-focus .links-lmd {
	display: block;
	top: 0;
}

.project-focus img {
	margin-top: 60px;
}

.project-focus .web img, .project-focus .mobile img {
	margin-top: 0;
}

.project-focus .mockup {
	position: relative;
	left: 15px;
}

.tunisia {
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}

h5 {
	text-align: center;
}

.project-nav {
	display: inline-block;
	max-width: 900px;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.project-nav a {
	transition: transform 600ms;
	padding: 0 20px;
	font-size: 36px;
}

.project-nav .previous:hover {
	transform: translate(-20px, 0px);
}

.project-nav .next:hover {
	transform: translate(20px, 0px);
}


/* M E D I A  Q U E R I E S */

@media screen and (min-width: 500px) {

.bold {
	border-bottom: 2px solid var(--default);
}

}


@media screen and (min-width: 900px) {

.about {
	margin: 20px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.about .flex {
	display: flex;
	align-items: center;
}

.about .hello {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 50px;
}

}


@media screen and (min-width: 800px) {
	
.project-nav a {
	padding: 0 100px;
}

.project-focus .mobile {
	display: none;
}

.project-focus .web {
	display: block;
	border: 4px var(--light-grey) solid;
	border-top: var(--light-grey) 30px solid;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	height: 500px;
	overflow: scroll;
	font-size: 0;
	position: relative;
	margin: 60px 0;
}

.home-btn {
	width: 120px;
}

.project-focus .links-lmd {
	display: flex;
}

.more + .more {
	margin-left: 20px;
	margin-top: 0px;
}

.project {
	background-attachment: fixed, local;
}

}