* {
	box-sizing: border-box;
}

:root {
	--default: #333330;
	--ratp-green: #8FE4D7;
	--accent: #FF7477;
	--light-grey: #F4F4F4;
	--nav-grey: #8E8E8E;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

body {
	margin: 0 auto;
	position: relative;
	color: var(--default);
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: Muli, sans-serif;
	font-weight: 900;
	margin: 0;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--default);
}

